:root {
  --clr-primary: #0b1736;
  --clr-secondary: #1b3987;
  --clr-tertiary: #edf2fe;
}

body {
  background: #333;
}

.text-center {
}
.container {
}

.btn {
  border: none;
  color: #fff;
  border-radius: 0.5em;
  background-color: var(--clr-tertiary);
  padding: 1em;
  font-size: 0.95em;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.terms-and-services {
  color: #999;
  font-size: 0.9em;
  margin: 0;
  margin-top: 0.5em;
}
.terms-and-services a {
  color: #999;
}

#btn-shorten {
  background-color: var(--clr-secondary);
}

input {
  border: none;
  font-size: 1.25em;
  padding: 0.6em;
  padding-left: 1em;
  border-radius: 0.4em;
}

ul {
  list-style: none;
  margin: 0;
  margin-top: 1em;
  padding: 0;
}

.short {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid gray;
}

li:nth-child(even) {
  background: mediumslateblue;
}

#urlShortener {
  background: var(--clr-primary);
  padding: 2.5em 1.2em;
}

#urlShortener ul {
  background: #fff;
  border-radius: 15px;
  margin-inline: auto;
  width: min(90%, 70.5em);
  padding: 0.5em;
}
