@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --clr-primary: #0b1736;
  --clr-secondary: #1b3987;
  --clr-tertiary: #edf2fe;

  --btn-primary: #1b3987;
  --btn-secondary: #2a5bd7;
  --btn-tertiary: #edf2fe;
}

.debug {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', 'Helvetica Neue', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
}

.img-rescale {
  width: 100%;
}

ul {
  list-style: none;
  margin-top: 1em;
  padding: 0;
}

a {
  text-decoration: none;
}

/* UTILITIES */
.text-center {
  text-align: center;
}

.container {
  margin-inline: auto;
  width: min(92%, 70.5em);
}

/* BUTTONS */
.btn {
  border: none;
  color: #fff;
  border-radius: 0.5em;
  padding: 1em;
  font-size: 0.95em;
  width: 100%;
}

.btn-primary {
  background-color: var(--btn-primary);
}
.btn-secondary {
  background-color: var(--btn-secondary);
  margin-top: 3em;
}
.btn-tertiary {
  background-color: var(--btn-tertiary);
  color: var(--btn-secondary);
}

/* APP - REACT SECTION */

form {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.terms-and-services {
  color: #999;
  font-size: 0.9em;
  margin: 0;
  margin-top: 0.5em;
}
.terms-and-services a {
  color: #999;
  text-decoration: underline;
}

#btn-shorten {
  background-color: var(--clr-secondary);
}

input {
  border: none;
  font-size: 1.25em;
  padding: 0.6em;
  padding-left: 1em;
  border-radius: 0.4em;
}

.short {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.short > a {
  margin: 0;
  margin-block: auto;
  margin-bottom: 0.5em;
  color: #555;
}

.short-link {
  display: inline-block;
  margin: 0.5em 0;
}

.App {
  background: var(--clr-primary);
  padding: 2.5em 0;
}

/* .App .container {
  position: relative;
} */

#urlShortener ul {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
}

#urlShortener ul li {
  padding: 1em;
}

.list-cta {
  background-color: var(--clr-tertiary);
}
.list-cta h4 {
  margin-block: auto;
}

/* .scroll-down {
  position: absolute;
  bottom: -5em;
  width: 100%;
  text-align: center;
} */

/* HEADER SECTION */

header {
  width: 100%;
  position: fixed;
  padding: 0.5em;
  padding-top: 1.1em;
}

header .container nav,
header .container nav > * {
  display: flex;
}

header .container nav > ul {
  display: none;
}

header .container nav {
  justify-content: space-between;
}
header .container nav ul {
  margin-block: auto;
}
header .container nav ul > li + li {
  margin-left: 0.5em;
}

#hero-copy {
  min-height: 19em;
  padding-bottom: 2em;
}

h1 {
  font-size: 2.5em;
  font-weight: 800;
}

h2 {
  font-weight: 100;
}

h3 {
  font-size: 1.9em;
  font-weight: 800;
}

.brand-logo img {
  width: 6.5em;
  position: relative;
  left: -0.6em;
}

.burger {
  position: relative;
  top: 0.5em;
  font-size: 1.4em;
}

/* HERO */
/* SUB-HERO */

#sub-hero .container > div,
#objectives > div + div {
  margin-top: 7em;
}

#sub-hero .container {
  /* padding-bottom: 5em; */
  border-bottom: 1px solid var(--clr-tertiary);
}

#sub-hero .container h5 {
  font-size: 1.1em;
  font-weight: 100;
  margin-top: 0.5em;
}

.mini-cta {
  margin: 3em !important;
}
.mini-cta > button {
  margin-bottom: 1em;
}

#objectives {
  display: flex;
  flex-direction: column;
}

/* BRAND-CUSTOMERS */
figure {
  width: 30%;
  flex: 1 0 auto;
}

figure > * {
  display: block;
  margin-inline: auto;
}

#brand-customers .container {
  padding: 3em 0;
}

#customer-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* BOTTOM CTA */
#bottom-cta {
  background-color: var(--clr-primary);
  padding: 4em;
}

#bottom-cta h3 {
  color: #fff;
}
/* FOOTER */

footer {
  padding-top: 4em;
}

footer a {
  color: #555;
}

footer .container div h5 {
  font-size: 1em;
  font-weight: 800;
}

footer .container div ul {
  margin-bottom: 1em;
}

#social {
  text-align: center;
  font-size: 1.7em;
  margin-bottom: 0.2em;
}

#social > a + a {
  margin-left: 0.7em;
}
